*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*layout*/
main{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

.main-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}

.top-bar{
    width: calc(100% - 250px);
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

a{
    text-decoration: none;
    color: #aeaeae;
}

.margin-top-10{
    margin-top: 10px;
}

.col-16{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.col-100{
    width: 100%;
}


.border-radius-50{
    border-radius: 50%;
}

.padding-left{
    padding-left: 10px;
}

/*sidebar*/
.sidebar{
    width: 250px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*top sidebar*/
.logo{
    width: 100%;
}

#logo-spotify{
    width: 100px;
    padding: 10px 0;
}

#logo-small{
    display: none;
}

.img-sidebar{
    width: 30px;
    vertical-align: middle;
    opacity: 0.7;
}

.menu-list-overflow{
    overflow-y: auto;
    height: 30vh;
}

.link-nav{
    color: white;
    opacity: 0.7;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
}

.link-nav:hover{
    opacity: 1;
}

li{
    list-style-type: none;
    padding: 5px 0;
}

.large-icon{
    font-size: 20px;
    padding: 10px;
    background-color: #aeaeae;
    color: #000000;
}

h4{
    color: #fff;
    padding: 25px 0;
}

#playlist{
    padding: 0 0 10px 5px;
    font-size: 16px;
}

.li-space{
    padding: 5px 0;
}

.bordo-verde{
    border-left: 2px solid greenyellow;
}

.bordo-verde .img-sidebar ,.bordo-verde .link-nav{
    opacity: 1;
}
/*fine top sidebar*/

/*bottom sidebar*/
.buttom-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding: 0 40px;
}

.installa-app .mod-link, .user{
    display: flex;
    align-items: center;
}

.installa-app{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.installa-app .mod-link{
    font-size: 13px;
}

.installa-app img{
    width: 15px;
    margin-right: 10px;
}

.avatar{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: grey;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
}

.name{
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.mod-link{
    text-decoration: none;
    color: #aeaeae;
}

.user{
    padding: 10px 0;
}

.text-installa:hover{
    color: white;
}
/*fine bottom sidebar*/
/*fine sidebar*/

/*top bar*/
.top-bar{
    position: fixed;
    z-index: 1;
    width: calc(100% - 250px);
    height: 90px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
}

.btn{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.btn:hover{
    padding: 13px 43px;
    font-size: 15px;
}

.main-content-nav .menu-inline li a:hover{
    color: white;
}
/*fine top bar*/

/*nav content main*/
.main-content-nav {
    width: 100%;
    margin-top: 90px;
    text-align: center;
}

.main-content-nav a {
    padding-bottom: 5px;
}

.menu-inline li{
    display: inline-block;
    margin: 10px;
}

.hr-verde{
    color: greenyellow;
  }

a hr{
    color: transparent;
    width: 30%;
    margin: 3px 0 0 38px;
}
/*fine nav content main*/

/*album*/
.contenitore-album{
    position: relative;
}
.hover-album{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 65px;
    display: none;
}

.hover-album i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenitore-album:hover .hover-album{
    display: block;
}

/*recently*/
.album .riga-album{
    margin-top: 10px;
    margin-bottom: 30px;
}

.riga-album{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img-cover{
    width: 100%;
}

.testo-album{
    text-align: center;
}

.testo-album span ,.riga-album span{
    color: #aeaeae;
    font-size: 12px;
}

.col-100{
    margin: 0 0 30px 10px;
}
/*fine album*/

/*footer*/
.bottom-bar{
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

/*section player*/
#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.player-album, .player-audio {
  width: 230px;
  height: 100%;
  padding: 10px;
}

.player-album {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-album-cover {
    width: 20%;
}

.player-album-cover img {
    width: 100%;
}

.album-title {
    width: 50%;
    padding-left: 10px;
}

.album-title h2 {
    font-size: 12px;
    line-height: 12px;
}

.album-title h2 a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.album-title p {
    font-size: 10px;
}

.album-title p a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.album-title p a:hover{
    opacity: 1;
}

.player-icons i{
    margin-left: 10px;
    color: #fff;
    opacity: 0.7;
}

.player-icons i:hover{
    opacity: 1;
}
/*fine section player*/

/*section controller*/
.player-controller {
    width: 40%;
    height: 100%;
}

.player-controller-icons {
    height: 60%;
}

.player-controller-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.player-controller-icons i{
    margin: 10px;
    font-size: 16px;
}

.player-controller-play-ico i{
    width: 50px;
    font-size: 30px;
    text-align: center;
}

.menu-list-bottom {
    list-style: none;
    font-size: 13px;
    line-height: 35px;
    color: white;
}

.player-controller-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.time-min {
    width: 10%;
    margin: 0 10px;
    font-size: 10px;
    text-align: center;
    color: #fff;
}

.player-bar {
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.controller{
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
}

.controller.perc-20{
    width: 20%;
}

.controller.perc-20:hover{
    background-color: greenyellow;
}

.controller-point{
    background-color: white;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: -115%;
    display: none;
}

.player-bar:hover .controller-point{
    display: block;
}
/*fine section controller*/

.player-audio ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.audio-volume {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*fine footer*/

/*media query*/
/*desktop*/
@media screen and (max-width: 1024px) {
    .col-16{
        width: calc(100% / 4 - 20px);
        flex-wrap: wrap;
    }
}

/*tablet*/
@media screen and (max-width: 768px) {
    .col-16{
        width: calc(100% / 2 - 20px);
        flex-wrap: wrap;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    .sidebar{
        width: 50px;
        padding-left: 5px;
    }

    #logo-spotify{
        display: none;
    }

    #logo-small{
        display: block;
        width: 20px;
        margin: 5px 0 0 10px;
    }

    .bordo-verde{
        border: none;
    }

    .top-bar{
        width: calc(100% - 50px);
    }

    .main-content{
        width: calc(100% - 50px);
    }

    .top-sidebar a{
        display: none;
    }

    .playlist{
        display: none;
    }

    .mod-link span{
        display: none;
    }

    .user h2{
        display: none;
    }

    .installa-app{
        border: none;
    }

    .mod-link img{
        margin-left: 3px;
    }
}
/*fine media query*/