*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

/*layout*/
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.fixed{
    position: fixed;
}

#tutto{
    width: 100vw;
    background-color: black;
}

.riga{
    width: 100%;
}

.col-100{
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

.col-16{
    width: calc(100% / 6 - 20px);
    background-color: brown;
    border: 1px solid black;
    height: 150px;
    margin: 10px;
}

.margin-bottom{
    margin-bottom: 200px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.color-white{
    color: white;
}

.color-gray{
    color: rgb(174, 174, 174);
}

.ccc{
    display: flex;
    justify-content: flex-end;
}
/*fine layout*/

/*main*/
main{
    height: calc(100% - 100px);
    width: 100%;
}
/*fine main*/

/*side bar*/
#side-bar{
    width: 300px;
    height: calc(100vh - 100px);
    position: fixed;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

.nome-playlist{
    margin-top: 20px;
}

.logo{
    width: 200px;
}

.img-ul{
    width: 30px;
    vertical-align: middle;
}

.text-li{
    vertical-align: middle;
}

.fa-square-plus{
    font-size: 40px;
    vertical-align: middle;
}

.logo-nav ,.menu-nav ,.playlist-nav ,.bottom-nav{
    width: 100%;
    padding: 20px;
}

.playlist-over{
    overflow-y: auto;
    height: 200px;
    padding-top: 10px;
}

.img-profile{
    width: 20px;
    margin-right: 10px;
}

.profilo{
    margin-top: 10px;
}

.installa{
    margin-bottom: 10px;
}
/*fine side bar*/

/*contenuto main*/
#contenuto-main{
    width: calc(100vw - 300px);
    height: 100%;
    margin-left: 300px;
}
/*upgrade*/
/*fine upgrade*/

/*nav contenuto*/
/*fine nav contenuto*/

/*recently*/
/*fine recently*/

/*john doe*/
/*john doe*/

/*fine contenuto main*/

/*footer*/
footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
}

.col-33{
    width: calc(100% / 3);
    height: 100px;
}

.sinister{
    width: 50px;
    margin: 23px 10px;
}

.album div{
    margin-top: 35px;
}

.icone-album{
    margin-left: 40px;
    padding-top: 5px;
}

.fa-heart{
    padding-right: 10px;
}

.progress-bar{
    height: 3px;
    width: 70%;
    background-color: white;
    margin: 8px auto;
}

.player{
    margin-top: 30px;
}

.icone-controller{
    justify-content: space-evenly;
}

.icone-controller i{
    font-size: 20px;
    padding-top: 20px;
}

.mini-progress-bar{
    width: 30%;
    height: 3px;
    background-color: white;
    margin-top: 5px;
}
.icone-footer-right{
    justify-content: end;
    margin: 40px 10px 0 0;
}

.icone-footer-right i{
    padding: 0 10px;
}
/*fine footer*/